body {
  font-family: "Gill Sans MT", sans-serif;
  font-size: 22px;
}

button {
  border: 1px solid black;
  width: 10rem;
  border-radius: 5px;
  margin-bottom: 5vh;
}

button:hover {
  background-color: yellowgreen;
}

.container {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}
